@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url(../font/OpenSans-Italic.ttf);
}
